
__pycache__/enc_dec.cpython-35.pyc

*.pyc

.ipynb_checkpoints/cw code-checkpoint.ipynb

.ipynb_checkpoints/enc_dec-checkpoint.py

.ipynb_checkpoints/nmt_config-checkpoint.py

.ipynb_checkpoints/nmt_translate-checkpoint.py

.ipynb_checkpoints/run_exp-checkpoint

*.ttf

*.model

*.log

model/sample_10001_plot.png

*.dict

data/text.en

data/text.fr

fonts/IPAfont00303/IPA_Font_License_Agreement_v1.0.txt

fonts/IPAfont00303/Readme_IPAfont00303.txt
